hello from index.ejs <b>EJS Testing</b>
<hr>
<p>There are <%=nouns.length %> nouns
</p>
<hr>
<p>There are <%=landscapePhotos.length %> photos</p> 
<img src="images/<%= landscapePhotos[1]%>" alt="photo">